@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
@import "_vars";



body {
    font-family: "Roboto";
    padding: 0;
    margin: 0;
    background-color: #636363;
}

* {
    box-sizing: border-box;
}

.m-0,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

i {
    margin-right: 4px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        padding: 5px 0;
    }
}

a {
    color: $clr2;
}

hr {
    background-color: #000;
    border: none;
    height: 2px;
    margin-top: 4px;
}

label {
    border: none;
    display: inline-block;
    width: 60px;
    height: 28px;
    border-radius: 30px;
    background-color: $clr5;
    position: relative;

    span {
        border-radius: 50%;
        height: 24px;
        width: 24px;
        display: inline-block;
        position: absolute;
        left: 2px;
        top: 2px;
        background-color: $clr1;
        transition: .5s;
    }
}

#mode {
    display: none;
}

#mode:checked+label {
    background-color: $clr1 !important;

    span {
        background-color: $clr4;
        left: 34px;
    }
}

#mode:checked .main {
    background-color: violet;
}

.box {
    height: 100vh;
    display: flex;
    justify-content: center;

    .main {
        width: 595px;
        height: 842px;
        background-color: $clr5;
        padding: 1rem 1.5rem 1.5rem;
        margin: auto;

        .header {
            display: flex;
            justify-content: center;
            padding: 1rem;

            img {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                margin: 1rem;
                object-fit: cover;
            }

            .basic-info {
                color: $clr1;
                display: flex;
                justify-content: center;
                flex-direction: column;

                h4 {
                    letter-spacing: 2px;
                    font-weight: 400;
                    color: $clr2;
                }

                .title {
                    h3 {
                        font-weight: 600;
                        font-size: 22px;
                        letter-spacing: 2px;
                        padding: .2rem 0rem;
                    }
                }

                div {
                    margin-top: 5px;

                    &.info-text {
                        display: flex;
                        flex-wrap: wrap;

                        .text-box {
                            display: flex;
                            flex-direction: column;

                            &:first-child,
                            &:nth-child(3) {
                                width: 53%;
                            }

                            &:nth-child(2),
                            &:last-child {
                                width: 47%;
                            }

                        }
                    }

                    span {
                        a {
                            text-decoration: none;
                            color: $clr7;
                        }

                        color: $clr7;
                        font-size: 12px;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 300;
                        margin: 5px 0;

                    }
                }
            }
        }

        .bottom {
            display: flex;
            justify-content: space-around;

            .info-section {
                &.left {
                    width: 48%;
                }

                &.right {
                    width: 39%;
                }

                h3 {
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: $clr6;
                    border-bottom: 2px solid $clr6;
                    padding-bottom: 4px;
                    margin-bottom: 12px;
                }

                .item {
                    margin-bottom: 10px;
                    &.projects{
                        display: flex;
                        .front{
                            padding-right: 7px;
                            margin-right: 7px;
                            // border-right: .5px solid rgba(126, 199, 233, 0.548);
                        }
                    }
                    ul {
                        li {
                            padding: 1px 0;
                            color: $clr3;
                            font-size: 13px;
                        }
                    }

                    &.lang-skill {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        ul {
                            float: right;
                            display: flex;
                            align-items: center;

                            li {
                                width: 20px;
                                height: 20px;
                                margin-right: 10px;
                                background-color: #86daf3a6;
                                border-radius: 50%;

                                &.filled {
                                    background-color: #5bbedc;
                                }
                            }
                        }
                    }

                    &.skills {
                        &.progs {
                            h5 {
                                // background-color: #3bafe0;
                                // color: #fff;
                                // border: none;
                                border-radius: 7px;
                                padding: 7px;
                                border-bottom: 1px solid #ccc;

                                display: inline-block;
                                margin-right: 5px;
                                padding: 5px;
                            }
                        }

                        h5 {
                            display: inline-block;
                            margin-right: 5px;
                            border-bottom: 1px solid #3453;
                            padding: 3px;
                        }
                    }

                    .text {
                        display: inline-block;
                        width: 30%;
                    }

                    h4,
                    h5,
                    h6 {
                        font-weight: 400;
                        margin: 3px 0;
                    }

                    h4 {
                        color: $clr2;
                    }

                    h5 {
                        color: $clr1;
                    }

                    h6 {
                        color: $clr4;
                    }

                    .descrp {
                        font-size: 13px;
                        margin: 4px 0;
                        color: $clr3;

                    }
                }
            }

        }


    }

}

@media screen and (max-width: 676px) {
    .box {
        height: auto;

        .main {
            height: 100%;

            .header {
                justify-content: space-between;

                img {
                    width: 100px;
                    height: 100px;
                    margin: 1rem 0;
                }

                .basic-info {
                    .info-text {
                        flex-direction: column;

                        .text-box {
                            width: 100% !important;

                            span {
                                font-size: 11px;
                            }
                        }
                    }
                }
            }

            .bottom {
                flex-direction: column;

                .info-section {
                    padding: 0 1rem;
                    width: 100% !important;

                    div {
                        margin-bottom: 1rem;
                    }
                }

                .lang-skill {
                    flex-direction: column;
                    align-items: flex-start !important;

                    ul {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }
}