@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");
body {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  background-color: #636363;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.m-0,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

i {
  margin-right: 4px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  padding: 5px 0;
}

a {
  color: #36abce;
}

hr {
  background-color: #000;
  border: none;
  height: 2px;
  margin-top: 4px;
}

label {
  border: none;
  display: inline-block;
  width: 60px;
  height: 28px;
  border-radius: 30px;
  background-color: #ffffff;
  position: relative;
}

label span {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: inline-block;
  position: absolute;
  left: 2px;
  top: 2px;
  background-color: #161515;
  -webkit-transition: .5s;
  transition: .5s;
}

#mode {
  display: none;
}

#mode:checked + label {
  background-color: #161515 !important;
}

#mode:checked + label span {
  background-color: #323438;
  left: 34px;
}

#mode:checked .main {
  background-color: violet;
}

.box {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box .main {
  width: 595px;
  height: 842px;
  background-color: #ffffff;
  padding: 1rem 1.5rem 1.5rem;
  margin: auto;
}

.box .main .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.box .main .header img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.box .main .header .basic-info {
  color: #161515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box .main .header .basic-info h4 {
  letter-spacing: 2px;
  font-weight: 400;
  color: #36abce;
}

.box .main .header .basic-info .title h3 {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 2px;
  padding: .2rem 0rem;
}

.box .main .header .basic-info div {
  margin-top: 5px;
}

.box .main .header .basic-info div.info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box .main .header .basic-info div.info-text .text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box .main .header .basic-info div.info-text .text-box:first-child, .box .main .header .basic-info div.info-text .text-box:nth-child(3) {
  width: 53%;
}

.box .main .header .basic-info div.info-text .text-box:nth-child(2), .box .main .header .basic-info div.info-text .text-box:last-child {
  width: 47%;
}

.box .main .header .basic-info div span {
  color: rgba(62, 58, 58, 0.623);
  font-size: 12px;
}

.box .main .header .basic-info div span a {
  text-decoration: none;
  color: rgba(62, 58, 58, 0.623);
}

.box .main .header .basic-info div p {
  font-size: 14px;
  font-weight: 300;
  margin: 5px 0;
}

.box .main .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.box .main .bottom .info-section.left {
  width: 48%;
}

.box .main .bottom .info-section.right {
  width: 39%;
}

.box .main .bottom .info-section h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #1c85a9;
  border-bottom: 2px solid #1c85a9;
  padding-bottom: 4px;
  margin-bottom: 12px;
}

.box .main .bottom .info-section .item {
  margin-bottom: 10px;
}

.box .main .bottom .info-section .item ul li {
  padding: 1px 0;
  color: #464551;
  font-size: 13px;
}

.box .main .bottom .info-section .item.lang-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box .main .bottom .info-section .item.lang-skill ul {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .main .bottom .info-section .item.lang-skill ul li {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: #86daf3a6;
  border-radius: 50%;
}

.box .main .bottom .info-section .item.lang-skill ul li.filled {
  background-color: #5bbedc;
}

.box .main .bottom .info-section .item.skills.progs h5 {
  border-radius: 7px;
  padding: 7px;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
}

.box .main .bottom .info-section .item.skills h5 {
  display: inline-block;
  margin-right: 5px;
  border-bottom: 1px solid #3453;
  padding: 3px;
}

.box .main .bottom .info-section .item .text {
  display: inline-block;
  width: 30%;
}

.box .main .bottom .info-section .item h4,
.box .main .bottom .info-section .item h5,
.box .main .bottom .info-section .item h6 {
  font-weight: 400;
  margin: 3px 0;
}

.box .main .bottom .info-section .item h4 {
  color: #36abce;
}

.box .main .bottom .info-section .item h5 {
  color: #161515;
}

.box .main .bottom .info-section .item h6 {
  color: #323438;
}

.box .main .bottom .info-section .item .descrp {
  font-size: 13px;
  margin: 4px 0;
  color: #464551;
}

@media screen and (max-width: 676px) {
  .box {
    height: auto;
  }
  .box .main {
    height: 100%;
  }
  .box .main .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .box .main .header img {
    width: 100px;
    height: 100px;
    margin: 1rem 0;
  }
  .box .main .header .basic-info .info-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box .main .header .basic-info .info-text .text-box {
    width: 100% !important;
  }
  .box .main .header .basic-info .info-text .text-box span {
    font-size: 11px;
  }
  .box .main .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box .main .bottom .info-section {
    padding: 0 1rem;
    width: 100% !important;
  }
  .box .main .bottom .info-section div {
    margin-bottom: 1rem;
  }
  .box .main .bottom .lang-skill {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .box .main .bottom .lang-skill ul {
    margin: 0;
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */